<div id="sobreMi" class="div">
    <div class="div_sobreMi">
        <div class="div_texto">Soy una persona muy metódica, altruista y trabajadora.
            Me gusta revolver problemas y suelo estar inquieto hasta encontrar la solución.
            Prefiero trabajar en equipo y tener ese contacto físico con los compañeros y poner cada uno nuestro granito
            de arena para finalizar un fututo proyecto.
            Apasionado por la tecnología y deseando empezar en este ámbito laboral.</div>
        <div class="div_imagen"></div>
    </div>



</div>