<div id="sobreMi" class="div">
    <div class="titulo">SOBRE MÍ</div>
    <div class="div_sobreMi">
        <div class="div_texto">Soy una persona muy metódica, altruista y trabajadora.
        Me gusta resolver problemas y me esfuerzo hasta encontrar la solución.
        Prefiero trabajar en equipo y tener ese contacto físico con los compañeros y 
        poner cada uno nuestro granito de arena para finalizar un futuro proyecto.
        </div>
        <div class="div_imagen"></div>
    </div>
</div>