<div id="skills" class="div">
    <div class="titulo">SKILLS</div>
    <div class="skills_div">
        <div class="skills">
            <div class="skills__icon"><i class="fa-brands fa-js"></i></div>
            <p class="skills__p">JavaScript</p>
        </div>
        <div class="skills">
            <div class="skills__icon1"><i class="fa-brands fa-js"></i></div>
            <p class="skills__p1">TypeScript</p>
        </div>
        <div class="skills">
            <div class="skills__icon2"><i class="fa-brands fa-node"></i></div>
            <p class="skills__p2">NodeJS</p>
        </div>
        <div class="skills">
            <div class="skills__icon3"><i class="fa-brands fa-angular"></i></div>
            <p class="skills__p3">Angular</p>
        </div>
        <div class="skills">
            <div class="skills__icon4"><i class="fa-brands fa-html5"></i></div>
            <p class="skills__p4">HTML</p>
        </div>
        <div class="skills">
            <div class="skills__icon5"><i class="fa-brands fa-css3-alt"></i></div>
            <p class="skills__p5">CSS</p>
        </div>
        <div class="skills">
            <div class="skills__icon6"><i class="fa-brands fa-bootstrap"></i></div>
            <p class="skills__p6">Bootstrap</p>
        </div>
        <div class="skills">
            <div class="skills__icon7"><i class="fa-brands fa-figma"></i></div>
            <p class="skills__p7">Figma</p>
        </div>
        <div class="skills">
            <div class="skills__icon8"><i class="fa-solid fa-database"></i></div>
            <p class="skills__p8">MySQL</p>
        </div>
        <div class="skills">
            <div class="skills__icon9"><i class="fa-solid fa-database"></i></div>
            <p class="skills__p9">MongoDB</p>
        </div>
        <div class="skills">
            <div class="skills__icon7"><i class="fa-brands fa-github"></i></div>
            <p class="skills__p7">GitHub</p>
        </div>
        <div class="skills">
            <div class="skills__icon10"><i class="fa-brands fa-aws"></i></div>
            <p class="skills__p10">AWS</p>
        </div>
    </div>
</div>