.header {
    height: 10vh;
    width: 100%;
    background-color: var(--primariColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    z-index: 1;
}

.nombre {
    color: var(--tertiaryColor);
    text-decoration: none;
    font-size: 30px;
}

.header_div {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header_enlace {
    text-decoration: none;
    color: var(--secondaryColor);
    transition-duration: 1s;
    border: 1px solid transparent;
}

/* .header_enlace--active {
    border-bottom: 1px solid var(--tertiaryColor);
} */

.header_enlace:hover {
    border-bottom: 1px solid var(--tertiaryColor);
}

#check {
    display: none;
}

#btn {
    display: none;
}

#cancel {
    display: none;
}



@media screen and (max-width:400px) {
    .header {
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nombre {
        padding-left: 30px;
        font-size: 20px;
    }

    label #btn,
    label #cancel {
        display: inline;
        cursor: pointer;
        background: black;
        height: 45px;
        width: 45px;
        text-align: center;
        line-height: 45px;
        color: white;
        font-size: 20px;
        margin-right: 5px;
    }

    label #cancel {
        opacity: 0;
        visibility: hidden;
    }

    #check:checked~label #btn {
        margin-right: 30px;
        opacity: 0;
        visibility: hidden;
    }

    #check:checked~label #cancel {
        margin-right: 30px;
        opacity: 1;
        visibility: visible;
    }

    .header_div {
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 90vh;
        background: rgba(0, 0, 0, 0.845);
        top: 10vh;
        left: -100%;
        transition: all .5s ease;
    }

    #check:checked~.header_div {
        left: 0%;
    }

    .header_enlace {
        text-transform: uppercase;
    }
}