<header class="header">
    <a class="nombre" href="#home">{{nombre}}</a>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="header_div">
        <a class="header_enlace" href="#home">Home</a>
        <a class="header_enlace" href="#sobreMi">Sobre mí</a>
        <a class="header_enlace" href="#skills">Skills</a>
        <a class="header_enlace" href="#proyectos">Proyectos</a>
        <a class="header_enlace" href="#contacto">Contacto</a>
    </div>

</header>