<div id="contacto" class="div">
    <div class="div_titulo">CONTACTO</div>
    <div class="div_icono">
        <a href="mailto:javiergomez742@gmail.com" class="icono" target="_b"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/fcojavigomez/" class="icono" target="_b"><i
                class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/FcoJaviGomez" class="icono" target="_b"><i
                class="fa-brands fa-github-square"></i></a>
    </div>

    <a class="div_cv" href="../../../assets/CV FJGG.pdf" download="CV Francisco Javier Gómez Galán"><i
            class="fas fa-file-download"></i>
        &nbsp; Descargar CV</a>

    <div class="div_nombre"><i class="far fa-copyright"></i>&nbsp;Francisco Javier Gómez Galán</div>
</div>