<div id="proyectos" class="div">
    <div class="div_titulo">PROYECTOS</div>
    <div class="div_subtitulo">Algunos de los proyectos que he trabajado</div>
    <div class="div_proyectos">
        <figure *ngFor="let proyecto of proyectos" class="div_proyectos_proyecto">
            <img class="img" src="{{proyecto.imagen}}">
            <div class="div_proyecto_info">
                <div class="div_proyecto_info_titulo">{{proyecto.nombre}}</div>
                <div class="div_proyecto_info_app">{{proyecto.descripcion}}</div>
                <div class="div_proyecto_info_caja_enlaces">
                    <a class="div_proyecto_info_enlace" href="{{proyecto.web}}" target="_b"><i
                            class="fa-solid fa-globe"></i>&nbsp;
                        Sitio
                        Web</a>
                    <a class="div_proyecto_info_enlace" href="{{proyecto.repositorio}}" target="_b"><i
                            class="fa-brands fa-github"></i>&nbsp;
                        Repositorio</a>
                </div>
            </div>
        </figure>
    </div>

</div>