<div id="proyectos" class="div">
    <div class="div_titulo">PROYECTOS</div>
    <div class="div_subtitulo">Algunos de los proyectos que he trabajado</div>
    <div class="div_proyectos">
        <figure class="div_proyectos_proyecto">
            <img class="img" src="../../../assets/automateproyecto.PNG">
            <div class="div_proyecto_info">
                <div class="div_proyecto_info_titulo">AutoMate</div>
                <div>App para la gestión de mantenimientos del coche</div>
                <div class="div_proyecto_info_caja_enlaces">
                    <a class="div_proyecto_info_enlace" href="https://app-auto-mate.herokuapp.com/" target="_b"><i
                            class="fa-solid fa-globe"></i>&nbsp; Sitio
                        Web</a>
                    <a class="div_proyecto_info_enlace" href="https://github.com/FcoJaviGomez/autoMate" target="_b"><i
                            class="fa-brands fa-github"></i>&nbsp;
                        Repositorio</a>
                </div>
            </div>
        </figure>
        <figure class="div_proyectos_proyecto">
            <img class="img" src="../../../assets/lugia.jpg">
            <div class="div_proyecto_info">
                <div class="div_proyecto_info_titulo">Api Pokemon</div>
                <div>Pagina web, llamando a una api pública</div>
                <div class="div_proyecto_info_caja_enlaces">
                    <a class="div_proyecto_info_enlace" href="" target="_b"><i class="fa-solid fa-globe"></i>&nbsp;
                        Sitio
                        Web</a>
                    <a class="div_proyecto_info_enlace" href="" target="_b"><i class="fa-brands fa-github"></i>&nbsp;
                        Repositorio</a>
                </div>
            </div>
        </figure>
    </div>

</div>